[Unit]
Description=Consul
Documentation=https://consul.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
KillMode=process
EnvironmentFile=/etc/ops/env
ExecStart=/usr/local/bin/consul agent -datacenter ${DC} -config-file=/etc/ops/consul.json -recursor $NAMESERVER -encrypt ${ENCKEY} -bind '{{ GetInterfaceIP "${IFACE}" }}' -client 0.0.0.0 -retry-join ${SEED} -ui --data-dir /var/lib/consul $CONSUL_ROLE_FLAGS
LimitNOFILE=65536
Restart=always

[Install]
WantedBy=multi-user.target
